:root{
	font-size: 10px;
}

body{
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	font-size: 1.6rem;
	font-family: 'Actor', sans-serif;
}

*,
*:after,
*:before{
	box-sizing: border-box;
}

a, button, input{
	transition: .2s linear;
}

a{
	text-decoration: none;
	color: #000;
}

ul{
	margin: 0;
	padding: 0;
}

li{
	list-style-type: none;
}

h1, h2, h3, h4, h5, h5, p{
	margin: 0;
	font-weight: normal;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button{
	appearance: none;
}

.button{
	border: none;
	cursor: pointer;
	background: none;
	outline: none;
}

.input{
	
}

.input::placeholder{

}

.input:focus::placeholder{
	opacity: 0;	
}

.container{
	width: 100%;
	max-width: 1754px;
	margin: 0 auto;
}



/* Адаптив */
@media(max-width: 1200px){
	.container{
		max-width: 978px;
	}
}
@media(max-width: 998px){
	.container{
		max-width: 748px;
	}
}
@media(max-width: 768px){
	.container{
		max-width: 460px;
	}
}
@media(max-width: 480px){
	.container{
		max-width: 300px;
	}
}